// 베이스 색
$kia-red: #bb162b;
$kia-black: #05141f;
$kia-white: #ffffff;

// 그레이
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$primary: $kia-red;
$secondary: $kia-black;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: $gray-100;
$dark: $gray-900;

// 배경 색
$background-light: $kia-white;
$background-dark: $kia-black;
$background-card-light: $gray-100;
$background-card-dark: $gray-800;

// 텍스트 색
$text-primary-light: $kia-black;
$text-secondary-light: $gray-700;
$text-muted-light: $gray-600;
$text-primary-dark: $kia-white;
$text-secondary-dark: $gray-300;
$text-muted-dark: $gray-500;

:root {
  // 배경 색
  --color-background: #{$background-light};
  --color-background-card: #{$background-card-light};

  // 텍스트 색
  --color-text-primary: #{$text-primary-light};
  --color-text-secondary: #{$text-secondary-light};
  --color-text-muted: #{$text-muted-light};

  --color-primary: #{$primary};
  --color-secondary: #{$secondary};
  --color-success: #{$success};
  --color-info: #{$info};
  --color-warning: #{$warning};
  --color-danger: #{$danger};

  // 경계선 색
  --color-border: #{$gray-300};

  // 그림자 색
  --color-shadow: rgba(0, 0, 0, 0.1);
}

// 다크모드 테마 설정
@media (prefers-color-scheme: dark) {
  :root {
    // 배경 색
    --color-background: #{$background-dark};
    --color-background-card: #{$background-card-dark};

    // 텍스트 색
    --color-text-primary: #{$text-primary-dark};
    --color-text-secondary: #{$text-secondary-dark};
    --color-text-muted: #{$text-muted-dark};

    // 경계선 색
    --color-border: #{$gray-700};

    // 그림자 색
    --color-shadow: rgba(0, 0, 0, 0.5);
  }
}

// 테마 수동전환을 위한 style
.theme-dark {
  // 배경 색
  --color-background: #{$background-dark};
  --color-background-card: #{$background-card-dark};

  // 텍스트 색
  --color-text-primary: #{$text-primary-dark};
  --color-text-secondary: #{$text-secondary-dark};
  --color-text-muted: #{$text-muted-dark};

  // 경계선 색
  --color-border: #{$gray-700};

  // 그림자 색
  --color-shadow: rgba(0, 0, 0, 0.5);
}

// 색상 접근
@mixin apply-theme-colors {
  color: var(--color-text-primary);
  background-color: var(--color-background);
}
